:root {
  --alto: #DBDBDB;
  --cold-gray: #141414;
  --dove-gray: #716F6F;
  --electric-violet: #854DFF;
  --gallery: #F0F0F0;
  --persimmon: #FF5757;
  --white: #FFF;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--gallery);
  font-family: 'Poppins', sans-serif;
}

.form-wrapper {
  margin-bottom: 2rem;
}

.main-wrapper {
  background-color: var(--white);
  border-radius: 2rem 2rem 5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 2rem 1.5rem;
  width: 90%;
}

.form-groups-wrapper {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-bottom: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  color: var(--dove-gray);
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.form-input {
  border-radius: 0.5rem;
  border: 1px solid var(--alto);
  color: var(--cold-gray);
  font-size: 1.25rem;
  outline: none;
  padding: 0.5rem;
}

.submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.submit-wrapper::after {
  left: 0;
  top: 0;
  height: 4px;
  width: 4px;
  border: 5px solid black;
  position: absolute;
}

.submit-btn {
  border: none;
  background-color: var(--electric-violet);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;

  svg {
    height: 2rem;
  }
}

.result-wrapper {
  list-style-type: none;
  padding-left: 0;
}

.year-result,
.month-result,
.day-result {
  font-size: 3rem;
  font-style: italic;
  font-weight: 800;

  span {
    color: var(--electric-violet);
  }
}
