:root {
  --electric-violet: #854DFF;
  --persimmon: #FF5757;
  --white: #FFF;
  --gallery: #F0F0F0;
  --alto: #DBDBDB;
  --dove-gray: #716F6F;
  --cold-gray: #141414;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--gallery);
}

.main-wrapper {
  background-color: var(--white);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 2rem 1.5rem;
  border-radius: 2rem 2rem 5rem 2rem;
}

.form-groups-wrapper {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.25rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  color: var(--dove-gray);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}

.form-input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid var(--alto);
  font-size: 1.25rem;
  color: var(--cold-gray);
}

h1 {
  color: var(--electric-violet);
}
